<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.cvtc.doberlander.ulearnit">

    <!-- Penguin Logo -->
    <!-- https://openclipart.org/detail/221475/sleuth-penguin -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_ulearnit_logo_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.ULearnIt">
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:parentActivityName=".CategoryActivity">
            <!-- meta data is used for API levels below AP 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CategoryActivity" />
        </activity>
        <!-- windowSoftInputMode is set to allow for the page to scroll when the keyboard is up -->
        <activity
            android:name=".EntryModifierActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:parentActivityName=".CategoryActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">

            <!-- meta data is used for API levels below AP 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CategoryActivity" />
        </activity>
        <activity
            android:name=".ResultsActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:parentActivityName=".CategoryActivity">

            <!-- meta data is used for API levels below AP 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CategoryActivity" />
        </activity>
        <activity
            android:name=".QuizActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:parentActivityName=".CategoryActivity">

            <!-- meta data is used for API levels below AP 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CategoryActivity" />
        </activity>
        <activity
            android:name=".CategoryActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:label="Category"
            android:parentActivityName=".MainActivity">

            <!-- meta data is used for API levels below AP 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ULearnIt.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>