<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devsketch.ulearnit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_ulearnit_logo_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.ULearnIt">
        <activity
            android:name="com.devsketch.ulearnit.FilterActivity"
            android:exported="false" />
        <activity
            android:name="com.devsketch.ulearnit.EntryDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.devsketch.ulearnit.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.devsketch.ulearnit.TextInjection"
            android:exported="false" />
        <activity
            android:name="com.devsketch.ulearnit.HelpActivity"
            android:exported="false" />
        <activity
            android:name="com.devsketch.ulearnit.WebTranslateActivity"
            android:exported="false" />
        <activity
            android:name="com.devsketch.ulearnit.WebAIActivity"
            android:exported="false" />
        <activity
            android:name="com.devsketch.ulearnit.AboutActivity"
            android:exported="false"
            android:parentActivityName="com.devsketch.ulearnit.CategoryActivity"
            android:screenOrientation="portrait">

            <!-- meta data is used for API levels below AP 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devsketch.ulearnit.CategoryActivity" />
        </activity> <!-- windowSoftInputMode is set to allow for the page to scroll when the keyboard is up -->
        <activity
            android:name="com.devsketch.ulearnit.EntryModifierActivity"
            android:exported="false"
            android:parentActivityName="com.devsketch.ulearnit.CategoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- meta data is used for API levels below AP 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devsketch.ulearnit.CategoryActivity" />
        </activity>
        <activity
            android:name="com.devsketch.ulearnit.ResultsActivity"
            android:exported="false"
            android:parentActivityName="com.devsketch.ulearnit.CategoryActivity"
            android:screenOrientation="portrait">

            <!-- meta data is used for API levels below AP 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devsketch.ulearnit.CategoryActivity" />
        </activity>
        <activity
            android:name="com.devsketch.ulearnit.QuizActivity"
            android:exported="false"
            android:parentActivityName="com.devsketch.ulearnit.CategoryActivity"
            android:screenOrientation="portrait">

            <!-- meta data is used for API levels below AP 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devsketch.ulearnit.CategoryActivity" />
        </activity>
        <activity
            android:name="com.devsketch.ulearnit.CategoryActivity"
            android:exported="true"
            android:label="Category"
            android:parentActivityName="com.devsketch.ulearnit.MainActivity"
            android:screenOrientation="portrait">

            <!-- meta data is used for API levels below AP 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devsketch.ulearnit.MainActivity" />
        </activity>
        <activity
            android:name="com.devsketch.ulearnit.SubCategoryActivity"
            android:exported="true"
            android:label="Subcategory"
            android:parentActivityName="com.devsketch.ulearnit.MainActivity"
            android:screenOrientation="portrait">

            <!-- meta data is used for API levels below AP 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devsketch.ulearnit.MainActivity" />
        </activity>
        <activity
            android:name="com.devsketch.ulearnit.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ULearnIt.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>